body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-wrapper {
  margin: 0 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.todo + .todo {
  margin-top: 1em;
}

.todo._completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  background-color: #f3f3f3;
}

.todo i {
  border: 1px solid rgb(25, 194, 25);
  border-radius: 5px;
  padding: 0.5rem;
}

.btn {
  display: block;
  margin: 0 auto;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}
